<div class="container col-md-4 order-md-2 mb-4" style="margin-top: 3rem;">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
    <div class="cart-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
      <span class="text-muted" style="margin-left: 0.5rem;">Your cart</span>
    </div>
      <span class="badge badge-secondary badge-pill">{{totalItems}}</span>
    </h4>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of products">
        <div>
          <h6 class="my-0">{{ product.name }}</h6>
          <small class="text-muted">{{ product.category }}</small>
        </div>
        <span class="text-muted">{{ product.price | currency }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between total">
        <span>Total (USD)</span>
        <strong>{{total | currency}}</strong>
      </li>
    </ul>
</div>
